  /* CONTENT */
body {
	background-image: url(../img/marble/marble-main.jpg);
	background-repeat: no-repeat;
	background-size:cover;	
}  
.wrappernav {
	width: 100%;
	top: 0;
	position:fixed;
	margin: 0;
	border: 0px solid green;
	z-index: 10;
}  
.navbarhead {
	width:100%;
	margin: 0 0;
	height: 40px;
	background-color: black;
}
.navbarul {
	float: right;
	margin-top: 10px;
}
.navbarul li {
	display: inline-block;
	margin-right: 30px;
	list-style: none;
}
.navbarul li a {
	color: #fff;
	font-size: 15px;
}.form-group {
	display: inline-block;
	margin-top: 10px;
}
.navform {
	float: right;
	font-size: 15px;
}
.submit {
	margin-right: 20px;
}
/* Logo */
header img {
	margin-left: 5px;
	height: 95%;
	margin-top: 5px;
	float: left;
}
.contact-form {
	width: 100%;
	padding: 10px 0;
	margin-top: 50px;
	background-image: url("../img/scroll/anniv-old-paper.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 16px;
}
.form-box {
	width: 85%;
	margin: 10% 10%;
}
h2 {
	font-size: 50px;
	text-align: center;
	padding: 10px 5%;
}
fieldset {
	border: 1px solid gray;	
	width: 80%;
	font-size: 5vh;
	padding: 10px;
	margin: 20px 10% 25px 5%;
}
.flex-wrapper {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
 	flex-direction: row;
}
.box-contact {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex: 1;
}
.col-1 {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	margin-left: 1%;
	flex-direction: column;
	flex: 1 1 0;
}
.col-2 {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;
	flex: 3 0 0;
}
fieldset input{
	height: 25px;
	/*margin-right: 0px 5% 4px auto;*/
	padding: 0px .5%;
	border: 1px solid #202020;
	opacity: 0.4;
}
.forminputck {
	width: 10%;
	margin-left: 10%;
}
form textarea {
	width: 90%;
	height: 100px;
	margin: 4px 5% 4px 5%;
	padding: 6px 0.5%;
	border: 1px solid #202020;
	font-size: 16px;
	color: #202020;
	font-family: 'Almendra', serif;
	float: left;
	resize: none;
	opacity: 0.4;
}
.buttons {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	justify-content: space-around;
}
.button {
	font-size: 18px;
	height: 40px;
	width: 150px;
	background-color: #F6DF9C;
	margin: 8px;
	padding: 6px;
	opacity: .75;
	flex-shrink: 1;
	box-shadow: 0 4px 3px -2px gray;
	font-family: 'Almendra', serif;
}

footer {
	font-size : 15px;
	display : flex;
	justify-content : flex-end;
}
footer .copyright {
	align-self : flex-end;
	font-family : 'papyrus', 'aref ruqaa',  cursive;
	font-size: 12px;
	border : #000 double 2px;
	padding : 10px;
	margin-right : 30px;
}