@font-face {
	font-family : "'atlas_of_the_magiregular'";
	src : url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot");
	src : url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'inkcalig'";
	src : url("../fonts/Inkcalig/inkcalig-webfont.eot");
	src : url("../fonts/Inkcalig/inkcalig-webfont.woff2") format("woff2");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'blackchanceryregular'";
	src : url("../fonts/BlackChancery/blkchcry-webfont.eot");
	src : url("../fonts/BlackChancery/blkchcry-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BlackChancery/blkchcry-webfont.woff2") format("woff2"), url("../fonts/BlackChancery/blkchcry-webfont.woff") format("woff"), url("../fonts/BlackChancery/blkchcry-webfont.ttf") format("truetype"), url("../fonts/BlackChancery/blkchcry-webfont.svg#blackchanceryregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'sf_foxboro_scriptregular'";
	src : url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot");
	src : url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.svg#sf_foxboro_scriptregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'sf_foxboro_scriptitalic'";
	src : url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot");
	src : url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.svg#sf_foxboro_scriptitalic") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
  font-family: 'toyland_nfregular';
  src: url("../fonts/Toyland/toyland-outlinea.regular.eot");
  src: url("../fonts/Toyland/toyland-outlinea.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Toyland/toyland-outlinea.regular.woff2") format("woff2"), url("../fonts/Toyland/toyland-outlinea.regular.woff") format("woff"), url("../fonts/Toyland/toyland-outlinea.regular.ttf") format("truetype"), url("../fonts/Toyland/toyland-outlinea.regular.svg#toyland_nfregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vikingregular';
  src: url("../fonts/Viking/viking.regular-webfont.eot");
  src: url("../fonts/Viking/viking.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Viking/viking.regular-webfont.woff2") format("woff2"), url("../fonts/Viking/viking.regular-webfont.woff") format("woff"), url("../fonts/Viking/viking.regular-webfont.ttf") format("truetype"), url("../fonts/Viking/viking.regular-webfont.svg#vikingregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
	background-image : url(../img/marble/marble-main.jpg);
	background-size : cover;
}

section {
	border : gray solid 0;
}
.wrappermain {
	display : flex;
	border : red dashed 0;
}
article {
	background-image : url("../img/scroll/anniv-old-paper-half.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	border : lime solid 0;
	font-family : 'Nothing You Could Do', cursive;
	font-size : 21px;
	padding-top : 30px;
}
.story {
	padding : 25px 7% 5px 7%;
	border : black solid 0;
}
.story h2 {
	text-align : center;
	padding-top : 30px;
	border : lime dashed 0;
}
aside {
	background-image : url("../img/scroll/pale-scroll-mc.png");
	background-size : 100% 100%;
	background-repeat : no-repeat;
	border : coral double 0;
	font-family : 'aref ruqaa',sans-serif;
	font-size : 21px;
}
.john {
	display : flex;
	border : coral dashed 0;
	margin-top : 50px;
	margin-left : 25px;
}
.john .johnimg {
	border : #000 double 0;
	width : 30%;
	height : 30%;
	margin-left : 5%;
	margin-top : 45px;
	box-shadow : 0 4px 3px -2px gray;
}
.john h1 {
	margin-top : 50px;
	margin-left : 20px;
	padding-left : 5%;
	padding-top : 35px;
	text-align : center;
	border : black double 0;
}
.reader {
	margin : 15px 8% 20% 15%;
	border : green solid 0;
}

#fontepic {
  font-family: 'toyland_nfregular';
  font-size: 1em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }
#Jacques {
	/*font-family : 'toyland_nfregular';*/
	font-family: 'Jacques Francois Shadow', cursive;
	/*font-family: 'Londrina Shadow', cursive;*/
	/*font-family: 'Vast Shadow', cursive;*/
	/*font-family: 'Trade Winds', cursive;*/ 
	/*font-family: 'Diplomata', cursive;*/
	/*font-family: 'Ribeye Marrow', cursive;*/
	/*font-family: 'Geostar', cursive;*/
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#londrina {
	font-family: 'Londrina Shadow', cursive;
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#vast {
	/*font-family : 'toyland_nfregular';*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Londrina Shadow', cursive;*/
	font-family: 'Vast Shadow', cursive;
	/*font-family: 'Trade Winds', cursive;*/ 
	/*font-family: 'Diplomata', cursive;*/
	/*font-family: 'Ribeye Marrow', cursive;*/
	/*font-family: 'Geostar', cursive;*/
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#diplomata {
	/*font-family : 'toyland_nfregular';*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Londrina Shadow', cursive;*/
	/*font-family: 'Vast Shadow', cursive;*/
	/*font-family: 'Trade Winds', cursive;*/ 
	font-family: 'Diplomata', cursive;
	/*font-family: 'Ribeye Marrow', cursive;*/
	/*font-family: 'Geostar', cursive;*/
	font-size : .9em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#ribeye {
	/*font-family : 'toyland_nfregular';*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Londrina Shadow', cursive;*/
	/*font-family: 'Vast Shadow', cursive;*/
	/*font-family: 'Trade Winds', cursive;*/ 
	/*font-family: 'Diplomata', cursive;*/
	font-family: 'Ribeye Marrow', cursive;
	/*font-family: 'Geostar', cursive;*/
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#winds {
	/*font-family : 'toyland_nfregular';*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Londrina Shadow', cursive;*/
	/*font-family: 'Vast Shadow', cursive;*/
	/*font-family: 'Trade Winds', cursive;*/ 
	/*font-family: 'Diplomata', cursive;*/
	/*font-family: 'Ribeye Marrow', cursive;*/
	font-family: 'Trade Winds', cursive;
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#geostar {
	/*font-family : 'toyland_nfregular';*/
	/*font-family: 'Jacques Francois Shadow', cursive;*/
	/*font-family: 'Londrina Shadow', cursive;*/
	/*font-family: 'Vast Shadow', cursive;*/
	/*font-family: 'Trade Winds', cursive;*/ 
	/*font-family: 'Diplomata', cursive;*/
	/*font-family: 'Ribeye Marrow', cursive;*/
	font-family: 'Geostar', cursive;
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#ages {
  font-family: 'vikingregular';
  font-size: .8em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }
#master {
	font-family : 'blackchanceryregular';
	font-size : 1.1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#ido {
	/*font-family : 'Nothing You Could Do', cursive;*/
	font-family: 'Atlas of the Magi';
	font-size : 1.1em;
	text-align : center;
}