@font-face {
	font-family : "'atlas_of_the_magiregular'";
	src : url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot");
	src : url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'inkcalig'";
	src : url("../fonts/Inkcalig/inkcalig-webfont.eot");
	src : url("../fonts/Inkcalig/inkcalig-webfont.woff2") format("woff2");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'blackchanceryregular'";
	src : url("../fonts/BlackChancery/blkchcry-webfont.eot");
	src : url("../fonts/BlackChancery/blkchcry-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BlackChancery/blkchcry-webfont.woff2") format("woff2"), url("../fonts/BlackChancery/blkchcry-webfont.woff") format("woff"), url("../fonts/BlackChancery/blkchcry-webfont.ttf") format("truetype"), url("../fonts/BlackChancery/blkchcry-webfont.svg#blackchanceryregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'sf_foxboro_scriptregular'";
	src : url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot");
	src : url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.svg#sf_foxboro_scriptregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'sf_foxboro_scriptitalic'";
	src : url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot");
	src : url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.svg#sf_foxboro_scriptitalic") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'toyland_nfregular'";
	src : url("../fonts/Toyland/toyland-outlinea.regular.eot");
	src : url("../fonts/Toyland/toyland-outlinea.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Toyland/toyland-outlinea.regular.woff2") format("woff2"), url("../fonts/Toyland/toyland-outlinea.regular.woff") format("woff"), url("../fonts/Toyland/toyland-outlinea.regular.ttf") format("truetype"), url("../fonts/Toyland/toyland-outlinea.regular.svg#toyland_nfregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
@font-face {
	font-family : "'vikingregular'";
	src : url("../fonts/Viking/viking.regular-webfont.eot");
	src : url("../fonts/Viking/viking.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Viking/viking.regular-webfont.woff2") format("woff2"), url("../fonts/Viking/viking.regular-webfont.woff") format("woff"), url("../fonts/Viking/viking.regular-webfont.ttf") format("truetype"), url("../fonts/Viking/viking.regular-webfont.svg#vikingregular") format("svg");
	font-weight : normal;
	font-style : normal;
}
body {
	background-image : url(../img/marble/marble-main.jpg);
	background-size : cover;
}
.wrappernav {
	width : 100%;
	top : 0;
	position : fixed;
	margin : 0;
	border : green solid 0;
	font-family : 'Almendra', serif;
	z-index : 10;
}
.navbarhead {
	width : 100%;
	margin : 0 0;
	height : 40px;
	background-color : black;
}
.navbarul {
	float : right;
	margin-top : 10px;
}
.navbarul li {
	display : inline-block;
	margin-right : 30px;
	list-style : none;
}
.navbarul li a {
	color : #fff;
	font-size : 15px;
	text-decoration: none;
}
.form-group {
	display : inline-block;
	margin-top : 10px;
}
.navform {
	float : right;
	font-size : 15px;
}
.submit {
	margin-right : 20px;
}
header img {
	margin-left : 5px;
	height : 95%;
	margin-top : 5px;
	float : left;
}
header .title {
	border : red dashed 0;
	background-image : url(../img/scroll/header.png);
	background-repeat : no-repeat;
	background-position : center;
	background-size : 100% 100%;
	margin : 60px 60px 10px 60px;
	padding-top : 5px;
	padding-bottom : 10px;
}
.title p {
	width : 100%;
	text-align : center;
	font-family : 'Almendra', serif;
}
.name {
	font-size : 60px;
	text-align : center;
}
.trans {
	font-size : 30px;
	text-align : center;
	margin : 25px auto;
}
.svcs {
	font-size : 30px;
	text-align : center;
	margin : 25px auto;
}
.wrappercta {
	border : blue dashed 0;
	display : flex;
	padding : 5px 5%;
	margin : 5px 15px;
	justify-content : center;
}
.contactdiv, .servicesdiv {
	border : red solid 0;
	height : 100px;
	width : 30%;
	position : relative;
	margin : 5px 10px;
	padding : 5px 15px;
	text-align : center;
	display : flex;
	background-image : url(../img/scroll/old_paper_b&e.png);
	background-size : 100% 100%;
	font-family : 'Almendra', serif;
	font-size : 40px;
	color : black;
	justify-content : center;
}
.contactdiv a {
	color : #000;
	-webkit-align-self: center;
    align-self: center;
    text-decoration: none;
}
.servicesdiv a {
	color : #000;
    -webkit-align-self: center;
    align-self: center;
    text-decoration: none;
}
.lint {
	border : red dashed 0;
	width : 35%;
	text-align : center;
	padding : 20px 5% 0 5%;
	margin : 5px 5px;
	background-image : url(../img/scroll/scroll3.png);
	background-size : 100% 100%;
	font-family : 'Almendra', serif;
}
.services {
	width : 30%;
	text-align : center;
}
.contact {
	width : 25%;
	text-align : center;
}
section {
	border : gray solid 0;
}
.wrappermain {
	display : flex;
	border : red dashed 0;
}
article {
	background-image : url("../img/scroll/anniv-old-paper-half.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
	border : lime solid 0;
	font-family : 'Nothing You Could Do', cursive;
	font-size : 21px;
	padding-top : 30px;
}
.story {
	padding : 25px 7% 5px 7%;
	border : black solid 0;
}
.story h2 {
	text-align : center;
	padding-top : 30px;
	border : lime dashed 0;
}
aside {
	background-image : url("../img/scroll/a-half.png");
	background-size : 100% 100%;
	background-repeat : no-repeat;
	border : coral double 0;
	font-family : 'papyrus', 'Handlee';
	font-size : 21px;
}
.john {
	display : flex;
	border : coral dashed 0;
	margin-top : 50px;
	margin-left : 25px;
}
.john .johnimg {
	border : #000 double 0;
	width : 30%;
	height : 30%;
	margin-left : 5%;
	margin-top : 45px;
	box-shadow : 0 4px 3px -2px gray;
}
.john h1 {
	margin-top : 50px;
	margin-left : 20px;
	padding-left : 5%;
	padding-top : 35px;
	text-align : center;
	border : black double 0;
}
.reader {
	margin : 15px 8% 20% 12%;
	border : green solid 0;
}
footer {
	font-family : 'Handlee';
	font-size : 15px;
	margin-left : 20px;
	margin-top : 10px;
	display : flex;
	justify-content : space-around;
}
footer img {
	border : #000 double 2px;
	width : 50px;
	left : 10px;
	margin : 10px 10px 10px 15px;
	box-shadow : 0 4px 3px -2px gray;
}
footer .title {
	flex-shrink : 3;
}
footer .copyright {
	align-self : flex-end;
	font-family : 'papyrus',cursive;
	font-size: 12px;
	border : #000 double 2px;
	padding : 10px;
	margin-left : 80px;
}
#fontepic {
	font-family : 'toyland_nfregular';
	font-size : 1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#ages {
	font-family : 'vikingregular';
	font-size : 0.8em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#master {
	font-family : 'blackchanceryregular';
	font-size : 1.1em;
	color : brown;
	text-shadow : 2px 2px 3px #777;
}
#ido {
	font-family : 'Nothing You Could Do', cursive;
	font-size : 1.1em;
	text-align : center;
}