
body 	{ 
	border: 5px dotted black;
	padding-top: 50px; 
	background: url('../img/marble/marble-main.jpg') y-repeat ;
	background-size: 100% }

.headscroll { 
	border: 5px dashed red;
	background: url('../img/scroll/header.png') no-repeat;
	background-size: cover;
	text-align: center;
	padding: 10% 10%;
	height: 250px;
	width: 90%; }
	
.main { border: 5px solid coral; 
	//height: 500px;
	width: auto; 
	//display: flex; 
	//align-items: stretch; 
	}
	
.main-content {
	border: 5px solid orange;
	display: flex; 
	align-items: stretch;
	flex-wrap: wrap; }	
	
.intro {
	padding: 10%;
	self-align: stretch;
	flex-grow: 1 }

.about {
	padding: 10%; 
	self-align: stretch;
	flex-grow: 1 }

article { background: url('../img/scroll/old_paper.png') no-repeat; 
	background-size: cover; }

aside { background: url('../img/scroll/scrollpaper.jpg') no-repeat; 
	background-size: cover; } 

img.john { width: 40%;
	height: auto; 
	float:left;
	padding: 10px; }
		
article { 
	height: 500px;
	border: 5px solid blue ; }

aside {border: 5px solid yellow; }
