@font-face {
  font-family: 'atlas_of_the_magiregular';
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot");
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h2 {
	font-size: 30px;
	text-align: center;
	padding: 10px 5%;
}

.contact-form {
	width: 100%;
	padding: 10px 0px;
	background-image: url("../img/scroll/anniv-old-paper.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.form-box {
	width: 80%;
	padding: 10px 0px;
	margin: 10% 10%;
}

fieldset {
	border: 1px solid white;	
	width: 80%;
	padding: 10px;
	margin: 20px 10% 25px 10%;
	position: relative;
}

fieldset span {
	width: 75%;
	margin-left: auto;
	margin-right: 10%;
	position: absolute;
}

.form-box form fieldset input{
	width: 80%
	height: 40px;
	margin: 0px 5% 4px auto;
	padding: 0px .5%;
	border: 1px solid #282828;
	opacity: 0.5;
}

.form-box form textarea {
	width: 80%
	height: 300px;
	margin-bottom: 4px;
	padding: 0px .5%;
	border: 1px solid #282828;
	opacity: 0.4;
}

.form-box form p {
	font-size: 16px;
	color: #202020;
	font-family: "atlas_of_the_magiregular";
	/*float: left;*/
	resize: none;
}

.form-box form textarea {
	clear: both;
	width: 90%;
	height: 100px;
	margin: 4px 5% 4px 5%;
	padding: 6px 0.5$;
	border: 1px solid #202020;
	font-size: 16px;
	color: #202020;
	font-family: "atlas_of_the_magiregular";
	float: left;
	resize: none;
}
