@font-face {
  font-family: 'atlas_of_the_magiregular';
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot");
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
  font-weight: normal;
  font-style: normal; }

h2 {
	position: 50%;	
}

.contact-form {
	width: 100%;
	padding: 10px 0px;
	background-image: url("../img/scroll/anniv-old-paper.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.form-box {
	width: 100%;
	padding: 10px 0px;
	margin: 10% 10%;
}

fieldset {
	border: 1px solid #fff;	
	width: 80%;
	padding: 5px;
}

.form-box form input{
	width: 30%
	height: 30px;
	margin-bottom: 4px;
	padding: 0px .5%;
	border: 1px solid #282828;
	opacity: 0.6;
}

.form-box form textarea {
	width: 50%
	height: 300px;
	margin-bottom: 4px;
	padding: 0px .5%;
	border: 1px solid #282828;
	opacity: 0.6;
}

.form-box form p {
	font-size: 16px;
	color: #202020;
	font-family: "atlas_of_the_magiregular";
	/*float: left;*/
	padding-top: 10px;
	resize: none;
}

.form-box form textarea {
	clear: both;
	width: 60%;
	height: 100px;
	margin-bottom: 4px;
	padding: 6px 0.5$;
	border: 1px solid #202020;
	font-size: 16px;
	color: #202020;
	font-family: "atlas_of_the_magiregular";
	float: left;
	resize: none;
}
