@font-face {
  font-family: 'atlas_of_the_magiregular';
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot");
  src: url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/AtlasOfTheMagi/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'inkcalig';
  src: url("../fonts/Inkcalig/inkcalig-webfont.eot");
  src: url("../fonts/Inkcalig/inkcalig-webfont.woff2") format("woff2") url("../fonts/Inkcalig/inkcalig-webfont.woff") format("woff"), url("../fonts/Inkcalig/inkcalig-webfont.ttf") format("truetype"), url("../fonts/Inkcalig/inkcalig-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'blackchanceryregular';
  src: url("../fonts/BlackChancery/blkchcry-webfont.eot");
  src: url("../fonts/BlackChancery/blkchcry-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/BlackChancery/blkchcry-webfont.woff2") format("woff2"), url("../fonts/BlackChancery/blkchcry-webfont.woff") format("woff"), url("../fonts/BlackChancery/blkchcry-webfont.ttf") format("truetype"), url("../fonts/BlackChancery/blkchcry-webfont.svg#blackchanceryregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sf_foxboro_scriptregular';
  src: url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot");
  src: url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.regular-webfont.svg#sf_foxboro_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sf_foxboro_scriptitalic';
  src: url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot");
  src: url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff2") format("woff2"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.woff") format("woff"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.ttf") format("truetype"), url("../fonts/Foxboro/sf-foxboro-script.italic-webfont.svg#sf_foxboro_scriptitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyland_nfregular';
  src: url("../fonts/Toyland/toyland-outlinea.regular.eot");
  src: url("../fonts/Toyland/toyland-outlinea.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Toyland/toyland-outlinea.regular.woff2") format("woff2"), url("../fonts/Toyland/toyland-outlinea.regular.woff") format("woff"), url("../fonts/Toyland/toyland-outlinea.regular.ttf") format("truetype"), url("../fonts/Toyland/toyland-outlinea.regular.svg#toyland_nfregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vikingregular';
  src: url("../fonts/Viking/viking.regular-webfont.eot");
  src: url("../fonts/Viking/viking.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Viking/viking.regular-webfont.woff2") format("woff2"), url("../fonts/Viking/viking.regular-webfont.woff") format("woff"), url("../fonts/Viking/viking.regular-webfont.ttf") format("truetype"), url("../fonts/Viking/viking.regular-webfont.svg#vikingregular") format("svg");
  font-weight: normal;
  font-style: normal; }

  
  /* CONTENT */
  
  body {
	  background-image: url(../img/marble/marble-main.jpg);
	  background-size:cover;
  }
  
  .wrappernav {
	width: 100%;
	top: 0px;
	position:fixed;
	margin: 0px;
	border: 0px solid green;
	font-family: 'Almendra', serif;
}
  
.navbarhead {
	width:100%;
	margin: 0 0;
	height: 40px;
	background-color: black;
}

.navbarul {
	float: right;
	margin-top: 10px;
}

.navbarul li {
	display: inline-block;
	margin-right: 30px;
	list-style: none;
}

.navbarul li a {
	color: #fff;
	font-size: 15px;
}

.form-group {
	display: inline-block;
	margin-top: 10px;
}

.navform {
	float: right;
	font-size: 15px;
}
  
.submit {
	margin-right: 20px;
}

/* Logo */
header img {
	margin-left: 5px;
	height: 95%;
	margin-top: 5px;
	float: left;
}

header .title {
	border: 0px dashed red;
	/*background-image: url(../img/scroll/parchment_texture.jpg);*/
	background-image: url(../img/scroll/header.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 60px 60px 10px 60px;
	/*padding: 30px;*/
	padding-top: 5px;
	padding-bottom: 10px;
	/*box-shadow: 0 4px 3px -2px gray;*/
}

.title p {
	width: 100%;
	/*display: flex;*/
	text-align: center;
	font-family: 'Almendra', serif;
}

.name {
	font-size: 50px;
	text-align: center;
}
.trans {
	font-size: 25px;
	text-align: center;
	margin: 25px auto;
}

.svcs {
	font-size: 25px;
	text-align: center;
	margin: 25px auto;
}
  
.wrappercta {
	border: 0px dashed blue;
	display: flex;
	padding: 5 px 5%;
	margin: 5px 15px;

}

.contactdiv, .servicesdiv {
	border: 0px solid red;
	height: 100px;
	width: 30%;
	position: relative;
	margin: 5px 10px;
	padding: 5px 15 px;
	text-align: center;
	/*display: flex;*/
	background-image: url(../img/scroll/old_paper_b&e.jpg);
	background-size: cover;
	font-family: 'Almendra', serif;
	font-size: 40px;
	color: black;
	/*justify-content: center;*/
}

.contactdiv a, .servicesdiv a {
	/*margin: 50% 50%;*/
	left: 25%;
	top: 18%;
	color: #000;
	position: absolute;
}

.lint{
	border: 0px dashed red;
	width: 35%;
	text-align: center;
	padding: 20px 5% 0px 5%;
	margin: 5px 5px;
	background-image: url(../img/scroll/scroll3.png);
	background-size: cover;
	font-family: 'Almendra', serif;

}

.services {
	width: 30%;
	text-align: center;
	padding: 30% auto;
	float: right;
}

.contact {
	width: 25%;
	text-align: center;
}

section {
	border: 0px solid gray;
}

.wrappermain {
	display: flex;
	border: 0px dashed red;
}
article {
	background-image: url("../img/scroll/anniv-old-paper-half.png");
	background-repeat: no-repeat;
	background-size: cover;
	border: 0px solid lime;
	font-family: 'Nothing You Could Do', cursive;
	/*position: relative;*/
	font-size: 21px;
	padding-top: 30px:
}

.story {
	padding: 25px 7% 5px 7%;
	border: 0px solid black;
}

.story h2 {
	text-align: center;
	padding-top: 100 px;
	border: 0px dashed lime;
}

aside {
	background-image: url("../img/scroll/a-half.png");
	background-size: cover;
	background-repeat: no-repeat;
	border: 0px double coral;
	font-family: 'papyrus','Handlee';
	font-size: 21px;
}

.john {
	display: flex;
	justify-content: left;
	border: 0px dashed coral;
	margin-top: 50px;
	margin-left 25px;
}

.john .johnimg {
	border: 0px double #000;
	width: 30%;
	height: 30%;
	margin-left: 5%;
	margin-top: 45px;
	/*margin: 45px 10px 10px 15px;*/
	box-shadow: 0 4px 3px -2px gray;
}

.john h1 {
	margin-top: 50px;
	margin-left: 20px;
	padding-left: 5%;
	padding-top: 35px;
	text-align: center;
	border: 0px double black;
}

.reader {
	margin: 15px 8% 25px 12%;
	border: 0px solid green;
}

footer {
	font-family: 'Handlee';
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;
	/*float:left;*/
}

footer {
	display: flex;
	justify-content: space-around;
}

footer img {
	border: 2px double #000;
	width: 50px;
	left: 10px;
	margin: 10px 10px 10px 15px;
	box-shadow: 0 4px 3px -2px gray;
	/*float: left;*/
}

footer .title {
	flex-shrink: 3;	
}

footer .copyright {
	align-self: flex-end;
	font-family: 'papyrus','Handlee';
	border: 2px double #000;
	padding: 10px;
	margin-left: 80px;
}


  
  
  
  
  
  
#fontepic {
  font-family: 'toyland_nfregular';
  font-size: 1em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#ages {
  font-family: 'vikingregular';
  font-size: .8em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#master {
  font-family: 'blackchanceryregular';
  font-size: 1.1em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#ido {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.1em;
  text-align: center; }
