body {
	margin-top:50px;
	background: url('../images/white_quartzite.jpg') center top scroll;
	}

.container{
	width: 100%;
}

.banner {
	font-family: 'atlas_of_the_magiregular', cursive;
	font-size: 1.7em;
	line-height: 1.3em;
	padding: 10px 8px;
	margin: 10px 0px;
	/*background-image: url('../images/sst.png') no-repeat;*/
	background-position: 50% 50%;
	position: relative;
	text-align: center;
}

.banner h1{
	position: absolute;
	top: 20%; /*left: 5%;*/
	font-size: 3.5em;
	text-align: center;
}

.banner h2{
	position: absolute;
	top:20%; /*left:8%;*/
	font-size: 2.8em;
	text-align: center;
}

.banner h3{
	position: absolute;
	top:20%; /*left:8%;*/
	font-size: 2.1em;
	text-align: center;
}

.banner h4{
	position: absolute;
	top:20%; /*left:10%;*/
	font-size: 1em;
	text-align: center;
}


.banner h1 p{
	position: absolute;
	font: red;
	top: 80%; left: 20%;
	font-size: .5em;
}

.banner  h2 p{
	position: absolute;
	font: red;
	top: 83%; left: 22%;
	font-size: .5em;
}

.banner h3 p{
	position: absolute;
	font: red;
	top: 85%; left: 20%;
	font-size: .5em;
}

.banner h4 p{
	position: absolute;
	font: red;
	top: 80%; left: 17%;
	font-size: .6em;
}
