doctype html
html(lang='eng')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width initial-scale=1')
    meta(name='description', contents='Proofreading Editing Contact Form')
    title Sic Semper Typos Contact
    link(rel='stylesheet', type='text/css', media='all', href='css/reset.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/normalize.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', media='all', href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do')
    link(rel='stylesheet', type='text/css', media='all', href='css/fontface.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/custom.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/navbar.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/banner.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/stylesb.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/style.css')
    link(rel='stylesheet', type='text/css', media='all', href='css/contactform.css')
  body
    .container.first-container
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container.navcell.flex-navbar
          .navbar-brand
            a(href='index.html')
              img.navbar-brand.sst-image(src='images/sst.png')
          button.navitem.navbar-toggle(data-target='.navbar-responsive-collapse', data-toggle='collapse', type='button')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navitem.navbar-collapse.collapse.navbar-responsive-collapse
            ul.nav.navcell.navbar-nav
              li.active
                a(href='index.html')
                  span.navitem.glyphicon.glyphicon-home
                  |  Home
              li
                a(href='#')
                  span.navitem.glyphicon.glyphicon-edit
                  |  Services &amp; Rates
              li
                a(href='#')
                  span.navitem.glyphicon.glyphicon-book
                  |  Portfolio
              li
                a(href='contactForm_fs.html')
                  span.navitem.glyphicon.glyphicon-user
                  |  About/Contact John
              li
                a(href='#')
                  span.navitem.glyphicon.glyphicon-log-in
                  |  Log In
            form.navcell.navbar-form
              input#searchinput.form-control(type='text', placeholder='Search')
              button.btn.btn-default(type='navbtn submit')
                span.navitem.glyphicon.glyphicon-search
          // Nav-collapse
        // Container
    // Container
    header
      .container.header-container
        .banner.header-scroll.img-responsive
          img.img-responsive(src='images/Sic Semper Scroll.png')
          h1.visible-lg-inline
            | Sic Semper Typos
            p Thus always to typos
            p
          h2.visible-md-inline
            | Sic Semper Typos
            p Thus always to typos
            p
          h3.visible-sm-inline
            | Sic Semper Typos
            p Thus always to typos
            p
          h4.visible-xs-inline
            strong Sic Semper Typos
            p Thus always to typos
            p
    // Opening scroll
    .container.contact-content
      .contact-form
        form#contact.form-prepend(action='contact.php', method='post', name='contact', onsubmit='return validate(this)')
          img.img-responsive(src='images/Scroll Vertical.png')
          .form-group.formgroupcontact
            .name.contact-element
              span.name-item Name *
              input#Name.form-control.name-field(type='text', placeholder='Name', name='username', required='')
              br
            br
            .email.contact-element
              span.email-item Email *
              input#Email.form-control.email-field(type='email', placeholder='email@xyz.com', name='email', required='')
            br
            .call-me.contact-element
              span.call-me-item Please call me
              input#call-me.form-control(type='checkbox', name='callme')
            br
            .phone.contact-element
              span.phone-item Phone Number
              input#Phone.form-control.phone-field(type='text', placeholder='Phone Number', name='phone', pattern='^\D?(\d{3})\D?\D?(\d{3})\D?(\d{4})$')
            br
            .edit-sample.contact-element
              span.sample-item I am interested in a sample edit
              input#EditRequest.form-control.sample-edit-item(type='checkbox', name='editrequest')
            br
            .word-count.contact-element
              span.count-item Estimated word count
              input#WordCount.form-control.count-field(type='text', placeholder='Estimated word count', name='words')
            br
            .edit-text.contact-element
              span.text-item Sample
              textarea#Sample.form-control.text-field(placeholder='Paste your sample to be edited here. Limit 1,00 characters.', name='sample', maxlength='1000')
            br
            .container.services(autofocus='')
              span.service-item Services Requested
              br
              .services-requested
                input.proofreading(type='checkbox', name='svcproof')
                | Proofreading
                input.copyedit(type='checkbox', name='svccopy')
                | Copy Editing
                input.epublish(type='checkbox', name='svcepub')
                | ePublish Formatting
                br
                input.other(type='checkbox', name='svcother')
                | Other (Explain in comments)
            br
            .comment-text.contact-element
              span.text-item Questions/Comments
              textarea#Comments.form-control.comment-field(name='comments', placeholder='Add questions or comments here.')
            br
            br
            .buttons
              button.btn.btn-submit(type='submit')
                strong Submit
              button.btn.btn-clear(type='reset')
                strong Clear Form
              button.btn.btn-email(type='submit')
                strong Email John
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    // <script src="•http://cdn.jsdelivr.net/jquery.validation/1.14.0/jquery.validate.min.js"> </script>
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='js/ie10-viewport-bug-workaround.js')
    script(src='js/preserveAliases.js')
    script(src='js/jquery.tablesorter.js')
    script(src='js/jquery.validate.min.js')
    script(src='js/contactform.js')
      >/script>
      <!-- Sorting -->
      <script type="text/javascript" id="js">
      function validate(contactform_fs) {
      fail = validateName(contactform_fs.username.value)
      fail += validateEmail(contactform_fs.email.value)
      if (fail == '') return true
      else {alert(fail); return false}
      }
      function validateName(field) {
      return (field == "") ? "No User Name was entered.\n" : ""
      }
      function validateEmail(field) {
      if (field == "") return "No Email was entered.\n"
      else if (/[a-zA-Z0-9_-])/.test(field))
      return "Only a-z, A-Z, 0-9, - and _ are allowed in Usernames.\n"
      return ""
      }
