@font-face {
  font-family: 'atlas_of_the_magiregular';
  src: url("../fonts/TTFEdit/atlas_of_the_magi-webfont.eot");
  src: url("../fonts/TTFEdit/atlas_of_the_magi-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFEdit/atlas_of_the_magi-webfont.woff2") format("woff2"), url("../fonts/TTFEdit/atlas_of_the_magi-webfont.woff") format("woff"), url("../fonts/TTFEdit/atlas_of_the_magi-webfont.ttf") format("truetype"), url("../fonts/TTFEdit/atlas_of_the_magi-webfont.svg#atlas_of_the_magiregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'inkcalig';
  src: url("../fonts/Inkcalig/inkcalig-webfont.eot");
  src: url("../fonts/Inkcalig/inkcalig-webfont.woff2") format("woff2") url("../fonts/Inkcalig/inkcalig-webfont.woff") format("woff"), url("../fonts/Inkcalig/inkcalig-webfont.ttf") format("truetype"), url("../fonts/Inkcalig/inkcalig-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'blackchanceryregular';
  src: url("../fonts/TTFEdit/blkchcry-webfont.eot");
  src: url("../fonts/TTFEdit/blkchcry-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFEdit/blkchcry-webfont.woff2") format("woff2"), url("../fonts/TTFEdit/blkchcry-webfont.woff") format("woff"), url("../fonts/TTFEdit/blkchcry-webfont.ttf") format("truetype"), url("../fonts/TTFEdit/blkchcry-webfont.svg#blackchanceryregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sf_foxboro_scriptregular';
  src: url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.eot");
  src: url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.woff2") format("woff2"), url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.woff") format("woff"), url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.ttf") format("truetype"), url("../fonts/TTFEdit/sf-foxboro-script.regular-webfont.svg#sf_foxboro_scriptregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'sf_foxboro_scriptitalic';
  src: url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.eot");
  src: url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.woff2") format("woff2"), url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.woff") format("woff"), url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.ttf") format("truetype"), url("../fonts/TTFEdit/sf-foxboro-script.italic-webfont.svg#sf_foxboro_scriptitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'toyland_nfregular';
  src: url("../fonts/toyland-outlinea.regular.eot");
  src: url("../fonts/toyland-outlinea.regular.eot?#iefix") format("embedded-opentype"), url("../fonts/toyland-outlinea.regular.woff2") format("woff2"), url("../fonts/toyland-outlinea.regular.woff") format("woff"), url("../fonts/toyland-outlinea.regular.ttf") format("truetype"), url("../fonts/toyland-outlinea.regular.svg#toyland_nfregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'vikingregular';
  src: url("../fonts/viking.regular-webfont.eot");
  src: url("../fonts/viking.regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/viking.regular-webfont.woff2") format("woff2"), url("../fonts/viking.regular-webfont.woff") format("woff"), url("../fonts/viking.regular-webfont.ttf") format("truetype"), url("../fonts/viking.regular-webfont.svg#vikingregular") format("svg");
  font-weight: normal;
  font-style: normal; }
article, aside, figure, figcaption, footer, header, main, nav, section, summary {
  display: block; }

body {
  border: 0px dashed black;
  padding-top: 50px;
  background: url("../img/marble/grayscalemarbleinvert.bmp");
  background-size: 100%;
  display: flex;
  flex-direction: column; }

.navigation {
  border: 0px dashed red;
  background: url("../img/marble/marble-main.jpg");
  background-size: cover;
  justify-content: space-around; }

.form-group.btn {
  background: url("../img/marble/grayscalemarbleinvert.bmp");
  background-size: cover; }

header {
  border: 0px dashed green;
  display: flex;
  /*flex: 1 1 auto;*/
  align-items: stretch;
  flex-wrap: nowrap;
  max-height: 200px;
  margin-top: 50px; }

.lint {
  font-family: 'inkcalig', cursive;
  font-size: 25px;
  font-color: brown;
  background: url("../img/scroll/worn-parchment-paper.jpg") no-repeat;
  background-size: cover;
  line-height: 85%;
  margin: auto;
  flex: 1 1 0;
  border: 0px dashed orange; }

.scroll {
  border: 0px dashed purple;
  background: url("../img/scroll/header_small.png") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  align-content: center; }

.scroll ul {
  border: 0px dashed orange;
  font-family: 'Almendra', serif;
  /*line-height: 85%;*/
  display: flex;
  flex-wrap: wrap;
  max-height: auto;
  max-width: auto;
  align-items: baseline;
  justify-content: center; }

.scroll li.name {
  font-weight: 700italic;
  font-size: 500%;
  flex: 1 1 0;
  list-style-type: none;
  color: #663300;
  border: 0px dotted blue; }

.scroll li.trans {
  font-weight: 700italic;
  font-size: 200%;
  flex: 1 1 0;
  list-style-type: none;
  color: #663300;
  border: 0px dotted blue; }

.scroll li.tell {
  font-weight: 700italic;
  font-size: 250%;
  flex: 1 1 0;
  list-style-type: none;
  color: #663300;
  border: 0px dotted blue; }

.scroll small {
  font-size: 50%;
  border: 0px solid red; }

.main {
  border: 0px dashed blue;
  height: auto;
  width: auto;
  display: flex; }

.main-content {
  border: 0px dotted yellow;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap; }

article.intro {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 200%;
  border: 0px solid green;
  padding: 6%;
  align-self: stretch;
  flex: 5 3 0;
  background: url("../img/scroll/old_paper.png") no-repeat;
  background-size: cover; }

article.intro h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px; }

aside.about {
  font-family: 'inkcalig';
  font-size: 170%;
  border: 0px solid red;
  flex: 3 5 0;
  display: flex;
  flex-direction: column; }

.home-cta {
  border: 0px dotted blue;
  max-width: 100%;
  background: url("../img/scroll/old_paper_b&e_small.jpg") no-repeat;
  background-size: cover;
  border: 25px;
  display: flex;
  align-items: center; }

.home-cta a {
  font-family: 'blackchanceryregular';
  font-size: 1.1em;
  color: brown;
  text-shadow: 2px 2px 3px #777;
  align-self: center;
  padding: 10%;
  border: 10px; }

.about-john {
  font-family: 'inkcalig';
  border: 0px dashed orange;
  font-size: 125%;
  line-height: 120%;
  align-self: stretch;
  background: url("../img/scroll/old_paper.png") no-repeat;
  background-size: cover;
  padding: 15%; }

.about-john h1 {
  font-family: 'inkcalig';
  font-size: 200%;
  text-align: center;
  padding: 25px;
  border: 5px solid yellow; }

img.john {
  max-width: 40%;
  height: auto;
  float: left;
  padding: 10px;
  border: 5px dotted red; }

footer {
  background: url("../img/marble/marble-main.jpg");
  background-size: cover;
  border: 0px solid blue; }

img.grouchy {
  max-width: 10%;
  max-height: 100px;
  float: left;
  padding: 5 px; }

#fontepic {
  font-family: 'toyland_nfregular';
  font-size: 1em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#ages {
  font-family: 'vikingregular';
  font-size: .8em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#master {
  font-family: 'blackchanceryregular';
  font-size: 1.1em;
  color: brown;
  text-shadow: 2px 2px 3px #777; }

#ido {
  font-family: 'Nothing You Could Do', cursive;
  font-size: 1.1em;
  text-align: center; }

/*# sourceMappingURL=exstyle.css.map */
