.main-content
  p
    | Your story must be told. It is 
    span#fontepic epic.
    |  It is profound. It is like nothing ever written.
  |       
  p
    | But your grammar is atrocious. Your spelling is dreadful. Your prose is lacking.
  |    &#x9;  
  p
    | Your story is one for the 
    span#ages AGES,
    |  but you do not have the words with which to express it.
  |    &#x9;  
  p
    span#ido I do.
  |       
  p
    | I know the tale you are trying to tell. I see the story laid out before me in vivid detail.
  |       
  p
    | And I have the power to transform your limpid text into the  flowing, emotional, 
    span#master Shakespearean
    |  masterpiece your storyline deserves!
    |
.john-intro
  h3.john-title John Davidson
  |       
  img.img(src='img/icon/48594.png', alt="John's photo")
  |       
  p
    | An avid reader and lifelong perfectionist, John has recently discovered his true passion
    strong : 
    |  correcting other peoples mistakes!
  |  &#x9;  
  p
    | In all his prior work, he never could resist pointing out the little grammatical errors all around him, and after years of resisting the urge, he has finally succumbed to the inevitable and embraced his inner Grouchy Grammarian!
