
aside {
	font-size: 25px;
}
aside {
	font-size: 25px;
}
.arefruqaa {
	font-family: 'aref ruqaa',serif;
	font-size: 25px;
}
.upright {
	font-family: 'Cormorant Upright', serif;
	font-size: 25px;
}
.fanwood {
	font-family: 'Fanwood Text', serif;
	font-size: 25px;
}
.scopeone {
	font-family: 'Scope One', serif;
	font-size: 25px;
}
.garamond {
	font-family: 'Cormorant Garamond', serif;
	font-size: 25px;
}
.trirong {
	font-family: 'Trirong', serif;
	font-size: 25px;
}
.philosopher {
	font-family: 'Philosopher', serif;
	font-size: 25px;
}
.rambla {
	font-family: 'Rambla', serif;
	font-size: 25px;
}
.ruluko {
	font-family: 'Ruluko', sans-serif;
	font-size: 25px;
}
.courgette {
	font-family: 'Courgette', sans-serif;
	font-size: 25px;
}
.badscript {
	font-family: 'Bad Script', serif;
	font-size: 25px;
}
.merienda {
	font-family: 'Merienda', serif;
	font-size: 25px;
}
.milonga {
	font-family: 'Milonga', serif;
	font-size: 25px;
}
.paprika {
	font-family: 'Paprika', serif;
	font-size: 25px;
}
/*aside div p {
	font-size: 25px;
}*/