/* latin-ext */
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra'), local('Almendra-Regular'), url(https://fonts.gstatic.com/s/almendra/v8/uzCu8MxE9FBRB1UNllkhORTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 400;
  src: local('Almendra'), local('Almendra-Regular'), url(https://fonts.gstatic.com/s/almendra/v8/nn6qd3WfGL85pmBWUjz1lvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 700;
  src: local('Almendra Bold'), local('Almendra-Bold'), url(https://fonts.gstatic.com/s/almendra/v8/7uClDfLGor3AEOOxrUeUhiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Almendra';
  font-style: normal;
  font-weight: 700;
  src: local('Almendra Bold'), local('Almendra-Bold'), url(https://fonts.gstatic.com/s/almendra/v8/7uClDfLGor3AEOOxrUeUho4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 400;
  src: local('Almendra Italic'), local('Almendra-Italic'), url(https://fonts.gstatic.com/s/almendra/v8/tQuNo4XZF9gvCBx63LrCgyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 400;
  src: local('Almendra Italic'), local('Almendra-Italic'), url(https://fonts.gstatic.com/s/almendra/v8/b8oLPOtioxOKaUF_o5IisPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 700;
  src: local('Almendra Bold Italic'), local('Almendra-BoldItalic'), url(https://fonts.gstatic.com/s/almendra/v8/-tXHKMcnn6FqrhJV3l1e3RHJTnCUrjaAm2S9z52xC3Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Almendra';
  font-style: italic;
  font-weight: 700;
  src: local('Almendra Bold Italic'), local('Almendra-BoldItalic'), url(https://fonts.gstatic.com/s/almendra/v8/-tXHKMcnn6FqrhJV3l1e3YWiMMZ7xLd792ULpGE4W_Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
